body {
    width: 90%;
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    border: 3px solid black;
 
        /*sans-serif y serif*/
}
h1 {
    color: rgb(25, 102, 146);
    text-decoration: underline rgb(25, 102, 146) ;
    background-color: rgba(72, 209, 191, 0.521);
}
img {
    text-align: center;
    width: 40%;
    height: 60%;
}
h2{
    color: rgb(25, 102, 146);
    background-color: rgba(72, 209, 191, 0.521);
    text-decoration: underline rgb(25, 102, 146);
}
li:hover{
    color: aliceblue;
    background-color: rgba(105, 144, 202, 0.733);
    text-decoration: underline rgb(129, 155, 78);
   
}
#boton{
background-color: #ccc; 
color: #fff; 
width: 100px; 
padding: 20px; 
border: 1px solid #000; 
border-radius: 5px; 
}
li{
    color: white;
}
.fot:hover{
    color:  rgb(37, 141, 110);
    background-color:  rgba(105, 144, 202, 0.733);
    text-decoration: underline  rgba(72, 209, 191, 0.521);
 
}
.fot{
    color: white;

}
#seccion{
    color: rgb(41, 97, 64);
}
#seccion:hover{
    color: rgba(72, 209, 191, 0.521);
    background-color: white;
}
:root{
    background-color: rgb(170, 208, 226);
}
video{
    width: 50%;
}
ol{
    list-style: none;
    color:   rgba(72, 209, 191, 0.521);
}
.simple-linear {
    background: linear-gradient(blue, pink);
  }
#Totoro{
    width: 30%;
}
#Chihiro{
    width: 20%;
}
#minis{
    width: 30%;
}
nav ol li{
    display: inline-block;
    padding: 10px;
    border: 1px solid #000;
}
